<div class="ui container">
  <h1>Home</h1>
  <p>Das ist der KWM Bookstore.</p>
  <a routerLink="../books" class="ui red button">
    View book list
    <i class="right arrow icon"></i>
  </a>
    <a routerLink="../order/{{ getUserId() }}" class="ui red button" *ngIf="isLoggedIn()">
        Show me my orders
        <i class="right arrow icon"></i>
    </a>
  <bs-search class="column" (bookSelected)="bookSelected($event)"></bs-search>

    <bs-admin-order-list *ngIf="isAdmin()"></bs-admin-order-list>
</div>


