<h3>Backend view of all orders:</h3>

<div class="ui items">
    <div class="item" *ngFor="let order of orders">
        <div class="ui segment">
            <div class="content">
                <a class="header" routerLink="../order/{{order.user_id}}">{{ order.order_date }} (Nr.{{ order.id }})</a>
                <div class="description">
                    <div>Amount: {{ order.total_price }}€ (with {{ order.vat }}%VAT)</div>
                    <div>State: {{ order.states[order.states.length-1].state | uppercase}} </div>
                    <div *ngFor="let book of order.books">
                        <div>{{ book.title }} - {{ book.subtitle }} ({{ book.isbn }} ({{ book.net_price }}€)</div>
                    </div>
                </div>
                <div class="extra" *ngIf="order && order.states">
                    <p>Order created by: User Nr. {{ order.user_id }}</p>
                    <p>Status History: <span *ngFor="let state of order.states | reverse; last as l">{{ state.state | uppercase }} ({{state.comment}})<span *ngIf="!l"> <-- </span></span></p>
                </div>

                <bs-order-update-form [order]="order"></bs-order-update-form>
            </div>
        </div>
    </div>
</div>