<div class="ui container">
    <h3>Shopping Cart</h3>

    <bs-user-info [userId]="getCurrentUserId()"></bs-user-info>

    <div *ngIf="!isLoggedIn();" class="ui ignored info attached message">
        You need to log in to buy books!
    </div>
    <button class="ui red button" (click)="clearStorage();">
        Clear Cart
        <i class="right trash icon"></i>
    </button>
    <button *ngIf="isLoggedIn();" class="ui green button" (click)="buyBooks();">
        Buy these books
        <i class="right money bill alternate outline icon"></i>
    </button>

    <div class="ui middle aligned selection divided list">

    <div class="item" *ngFor="let book of cartBooks">
        <a class="bs-book-list-item"
           [book]="book"
           [routerLink]="['../books', book?.isbn]"
        >
        </a>
        <button class="ui red button" (click)="deleteBookFromCart(book.isbn);">Delete from cart</button>
    </div>

    </div>
    <p>Total Net Price: {{ totalPrices.net }}</p>
    <p>Total Gross Price ({{ totalPrices.vat }}% VAT): {{ totalPrices.gross }}</p>
</div>