<div>Set new status (Current status: {{ order.states[order.states.length-1].state }})
  <form class="ui large form" [formGroup]="stateForm" (ngSubmit)="submitForm()">
    <select class="ui fluid dropdown" formControlName="state">
      <option value="open">Open</option>
      <option value="canceled">Canceled</option>
      <option value="paid">Paid</option>
      <option value="delivered">Delivered</option>
    </select>
    <div class="ui input">
      <input type="text" placeholder="Comment..." formControlName="comment">
    </div>
    <button type="submit" class="ui red button">
      Save new status
      <i class="right save icon"></i>
    </button>
  </form>
</div>