<div *ngIf="ordersOfUser" class="ui container">
    <table class="ui very basic collapsing celled table">
        <thead>
        <tr><th>Order ID</th>
            <th>Ordered On</th>
            <th>Created By</th>
            <th>Current State</th>
            <th>All States</th>
            <th>Book Title</th>
        </tr></thead>
        <tbody>
        <tr *ngFor="let order of ordersOfUser">
            <td>
                <div class="content">
                    {{ order.id }}
                </div>
            </td>
            <td>
                <div class="content">
                    {{ order.order_date }}
                </div>
            </td>

            <td>
                <div class="content">
                    {{ order.user_id }}
                </div>
            </td>

            <td *ngIf="order.states">
                <div class="content">
                    {{ order.states[order.states.length-1].state }}
                </div>
            </td>

            <td *ngIf="order.states">
                <div class="content">
                    <div *ngFor="let s of order.states | reverse">
                        {{ s.state }} (comment: {{ s.comment }})
                    </div>
                </div>
            </td>

            <td>
                <div *ngFor="let b of order.books" >
                    <div class="content">
                        {{ b.title }} - {{ b.subtitle }}
                    </div>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>